In [45]:
#concatenate all files with pure Python

import glob

read_files = glob.glob("*/*")

with open("result.csv", "wb") as outfile:
    for f in read_files:
        with open(f, "rb") as infile:
            outfile.write(infile.read())

In [50]:
# data carpetry with Pandas 
import pandas as pd

#renaming columns
#write skipinitialspace=True to strip whitespace from each string

df = pd.read_csv("result.csv", header=None, skipinitialspace=True, names=['session', 'student_Id', 'exercise', 'activity',
'start_time', 'end_time', 'idle_time', 'mouse_wheel', 'mouse_wheel_click', 'mouse_click_left', 'mouse_click_right', 
'mouse_movement', 'keystroke'])

df

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Es,Other,2.10.2014 11:25:33,2.10.2014 11:25:34,0,0,0,0,0,84,0
1,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
2,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
3,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
4,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0
5,1,1,Es,Other,2.10.2014 11:26:19,2.10.2014 11:26:27,460,0,0,4,0,424,8
6,1,1,Es,Blank,2.10.2014 11:26:28,2.10.2014 11:26:28,0,0,0,1,0,93,0
7,1,1,Es,Deeds,2.10.2014 11:26:29,2.10.2014 11:26:29,0,0,0,1,0,75,0
8,1,1,Es,Aulaweb,2.10.2014 11:26:30,2.10.2014 11:26:33,0,0,0,2,0,238,0
9,1,1,Es,Deeds,2.10.2014 11:26:34,2.10.2014 11:26:41,4933,0,0,2,0,268,0
10,1,1,Es,Other,2.10.2014 11:26:42,2.10.2014 11:26:47,3212,0,0,4,0,275,2
11,1,1,Es,Aulaweb,2.10.2014 11:26:48,2.10.2014 11:27:0,1174,3,0,2,0,596,0
12,1,1,Es,Aulaweb,2.10.2014 11:27:1,2.10.2014 11:27:4,63,0,0,2,0,297,0
13,1,1,Es,Other,2.10.2014 11:27:5,2.10.2014 11:27:10,7834,0,0,0,0,142,0
14,1,1,Es,Aulaweb,2.10.2014 11:27:11,2.10.2014 11:27:15,0,4,0,2,0,342,0
15,1,1,Es,Other,2.10.2014 11:27:16,2.10.2014 11:27:17,140,0,0,0,0,99,0
16,1,1,Es_1_1,Study_Es_1_1,2.10.2014 11:27:18,2.10.2014 11:27:45,165188,0,0,4,0,715,0
17,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:27:46,2.10.2014 11:27:49,234,0,0,2,0,214,0
18,1,1,Es_1_1,Study_Es_1_1,2.10.2014 11:27:50,2.10.2014 11:27:50,0,0,0,0,0,77,0
19,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:27:51,2.10.2014 11:33:57,11510470,0,0,230,54,16970,7
20,1,1,Es_1_1,Properties,2.10.2014 11:33:58,2.10.2014 11:33:59,31,0,0,0,0,189,0
21,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:34:0,2.10.2014 11:36:3,2396565,5,0,50,0,2811,0
22,1,1,Es_1_1,Other,2.10.2014 11:36:4,2.10.2014 11:36:12,11543,0,0,2,0,356,0
23,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:36:13,2.10.2014 11:36:55,819129,0,0,2,0,116,0
24,1,1,Es_1_1,Blank,2.10.2014 11:36:57,2.10.2014 11:37:1,703,0,0,2,0,230,0
25,1,1,Es_1_1,Other,2.10.2014 11:37:2,2.10.2014 11:37:8,128,0,0,2,0,638,0
26,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:37:9,2.10.2014 11:37:13,6879,0,0,2,0,135,0
27,1,1,Es_1_1,Blank,2.10.2014 11:37:14,2.10.2014 11:37:14,0,0,0,2,0,74,0
28,1,1,Es_1_1,Deeds,2.10.2014 11:37:15,2.10.2014 11:37:16,16,0,0,2,0,105,0
29,1,1,Es_1_1,Blank,2.10.2014 11:37:17,2.10.2014 11:37:19,31,0,0,5,0,135,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230288,6,99,Es_6_2,Deeds_Es_6_2,11.12.2014 13:27:8,11.12.2014 13:27:14,279,0,0,9,0,308,0
230289,6,99,Es_6_2,Other,11.12.2014 13:27:15,11.12.2014 13:27:19,1294,0,0,1,0,127,0
230290,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:27:20,11.12.2014 13:29:42,8013405,0,0,64,2,2404,4
230291,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:29:43,11.12.2014 13:29:47,263,8,0,8,0,404,0
230292,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:29:48,11.12.2014 13:29:50,2,0,0,2,0,275,0
230293,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:29:51,11.12.2014 13:29:54,515,0,0,2,0,146,0
230294,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:29:55,11.12.2014 13:34:34,33120804,0,0,56,2,3326,2
230295,6,99,Es_6_3,Other,11.12.2014 13:34:35,11.12.2014 13:34:35,0,0,0,2,0,54,0
230296,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:34:36,11.12.2014 13:34:44,1853,0,0,14,0,814,0
230297,6,99,Es_6_3,Properties,11.12.2014 13:34:45,11.12.2014 13:34:45,0,0,0,1,0,50,0
230298,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:34:46,11.12.2014 13:34:46,0,0,0,1,0,82,0
230299,6,99,Es_6_3,Blank,11.12.2014 13:34:47,11.12.2014 13:34:47,0,0,0,5,0,47,0
230300,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:34:48,11.12.2014 13:41:34,53232298,29,0,65,0,4855,0
230301,6,99,Es_6_3,Blank,11.12.2014 13:41:35,11.12.2014 13:41:35,0,0,0,3,0,0,0
230302,6,99,Es_6_3,Other,11.12.2014 13:41:37,11.12.2014 13:41:37,0,0,0,3,0,39,0
230303,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:41:38,11.12.2014 13:41:38,0,0,0,4,0,18,0
230304,6,99,Es_6_3,Other,11.12.2014 13:41:39,11.12.2014 13:43:7,3758167,0,0,2,0,149,0
230305,6,99,Es_6_3,Blank,11.12.2014 13:43:8,11.12.2014 13:43:8,0,0,0,1,0,28,0
230306,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:43:9,11.12.2014 13:43:43,523035,3,0,1,0,96,0
230307,6,99,Es_6_3,Other,11.12.2014 13:43:44,11.12.2014 13:43:44,0,0,0,2,0,68,0
230308,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:43:45,11.12.2014 13:47:14,19711409,0,0,2,0,528,0
230309,6,99,Es_6_3,Other,11.12.2014 13:47:15,11.12.2014 13:47:17,592,0,0,4,0,141,0
230310,6,99,Es_6_3,Other,11.12.2014 13:47:18,11.12.2014 13:47:21,515,0,0,2,0,204,6
230311,6,99,Es_6_3,Aulaweb,11.12.2014 13:47:22,11.12.2014 13:47:28,1375,0,0,10,0,87,28
230312,6,99,Es_6_3,Other,11.12.2014 13:47:29,11.12.2014 13:47:29,0,0,0,0,0,0,4
230313,6,99,Es_6_3,Aulaweb,11.12.2014 13:47:30,11.12.2014 13:47:35,60,30,0,1,0,250,0
230314,6,99,Es_6_3,Other,11.12.2014 13:47:36,11.12.2014 13:47:36,0,0,0,3,0,37,0
230315,6,99,Es_6_3,Other,11.12.2014 13:47:37,11.12.2014 13:47:39,64,0,0,2,2,283,0
230316,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:47:40,11.12.2014 13:47:40,0,0,0,2,0,67,0
230317,6,99,Es_6_3,Properties,11.12.2014 13:47:41,11.12.2014 13:47:41,0,0,0,2,0,103,0

In [51]:
#split start time and start date

df['start_date'] = df['start_time'].str.split(' ').str.get(0) 
df['start_time'] = df['start_time'].str.split(' ').str.get(1)

In [52]:
#split end time and end date

df['end_date'] = df['end_time'].str.split(' ').str.get(0) 
df['end_time'] = df['end_time'].str.split(' ').str.get(1)

In [53]:
#write clean data to a new file
clean = df.to_csv('clean-data.csv', index=False)